{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}


    <div class="container mt-4">
        <h3>Catalogue de Produits</h3>

        <div class="row flex">
            {% for product in products %}
                <div class="col-3">
                    <div class="car text-center" >
                        <div style="border-style: groove;background-color: white" >
                            <img  class="image-style" src="{{ asset("images/") ~ product.nom }}.jpg" height="200" alt="{{ product.nom }}" />
                            <div class="card-body" style="background-color: #F5F5F5">
                                <h5 class="card-title">
                                    <a id="produits" href="#">{{ product.nom }}</a>
                                </h5>
                                <p class="card-text">
                                    {{ product.description}}
                                </p>
                                <div class="text-danger" style="font-size: 2em">{{ product.prix }} €</div>
                                <p class="card-text">
                                    <a class="btn btn-primary" role="button"  href="{{ path('product.show', {id: product.id}) }}">Details...</a>
                                </p>
                            </div>
                        </div>
                    </div></br>
                </div>
            {% endfor %}
            <div class="navigation navigator-center">
                {{ knp_pagination_render(products) }}
            </div>

        </div>
    </div>
{% endblock %}
