{% extends 'base.html.twig' %}

{% block title product.nom  %}

{% block body %}
    <div class="container mt-3" style="border-style: groove;background-color: white">
        <div class="row justify-content-between">
            {#<div class="col-md-2">
                <img  class="image-style" src="#" height="200" alt="{{ product.nom }}" />
            </div>#}
            <div id="easyadmin-lightbox-{{ product.id }}" class="easyadmin-lightbox">
                {# the second parameter is the name of the property with the UploadableField annotation #}
                <img src="{{ vich_uploader_asset(product, 'imageFile') }}" class="image-style"  height="200" alt="{{ product.nom }}">
            </div>
            <div class="col-md-8">
                <h3>{{ product.nom }}</h3>
                <h5>Carateristiques:</h5>
                <p>{{ product.description  | nl2br  }}</p>

            </div>
            <div class="col-md-2" style="border: 1px solid #d7d9e4;padding: 10px 10px;text-align: center;">
                <div class="car">
                    <div class="card-body">
                        <h5 class="card-title" style="color: red">
                            {{ product.prix }} €
                        </h5>
                        <p class="card-text">
                        <form action="{{ path('basket.add', {'id': product.id}) }}" method="get">
                            Quantité <input  type="number" style="width: 30%" max="99" min="1" value="1" name="qte"/>
                        </p>

                        <p class="card-text">
                            <button class="btn btn-success btn-lg" >Au panier!</button>
                        </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}


