<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}

    {% endblock %}
</head>
<body>
<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

    <a class="navbar-brand" href="#">ChoosIt</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link {% if Current_menu is defined and Current_menu == 'products' %}active{% endif %}"
                   href="{{ path('product.index') }}">{% trans %}Catalog{% endtrans %}</a>
            </li>

        </ul>

        <ul class="navbar-nav mr-auto">
           {% for locale in locales %}
                {% if locale != app.request.locale %}
                    <a href="{{ path('change_locale', {'locale': locale}) }}">
                        <img src="{{ asset('icones/'~locale~'.png') }}" alt="{{ locale }}" title="{{ locale }}">
                       {# {{ locale }}#}
                    </a>
                {% endif %}
            {% endfor %}
        </ul>
    </div>


    {{ render(controller('App\\Controller\\BasketController::nbarticle')) }}



</nav>
</header>
{% block body %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}

{% endblock %}
</body>
</html>
