{% extends 'base.html.twig' %}

{% block title %}Hello BasketController!{% endblock %}

{% block body %}
    <div class="container mt-3">

        <h2>Mon panier</h2>
        <div class="col-md-10">

            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Produit</th>
                    <th>prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th>sup</th>
                </tr>
                </thead>
                <tbody>
                {% if  products | length == 0  %}
                    <tr>
                        <td colspan="6" class="text-center">Panier est vide</td>
                    </tr>
                {% endif %}

                {% for product in products  %}

                    <tr>
                        <td>{{ product.nom }}</td>
                        <td>{{ product.prix }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.calcTotalPrice }} €</td>

                        <td class="form-inline">
                            <a href="{{ path('basket.remove', {'id': product.id}) }}">
                                <i  class="fa fa-trash"></i>
                            </a>
                        </td>

                    </tr>


                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="3" class="text-right">Total Commande:</th>
                    <th>{{ totalPrice }} </th>
                </tr>
                <tr>
                    <th colspan="5" class="text-right">
                        <p class="card-text">
                            <a class="btn btn-primary" role="button"  href="{{ path('basket.clear') }}">Vider le panier</a>
                        </p>
                    </th>

                </tr>
                </tfoot>

            </table>

        </div>
        <div class="col-md-4"></div>
    </div>


{% endblock %}
